.Header {
    display: flex;
    justify-content: space-between;
}

#theme-switch {
    background-image: url(./assets/night-theme-button.png);
    border: 0;
    width: 38px;
    height: 38px;
    margin: 0;
}