#search-button {
    background-image: url(./assets/search.svg);
    border: 0;
    width: 21px;
    height: 21px;
    background-color: #fff;
    margin: 8.5px;
}

.searchDiv {
    width: 595px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--puprle-clr);
    border-radius: 5px;
}

#input-field {
    border: 0;
    outline: 0;
    width: 600px;
    margin: 11px 0 11px 16px;
}