.Light {
    background-image: url(./assets/night-theme-button.png);
}

.Night {
    background-image: url(./assets/light-theme-button.svg);
}

.deflt-btn {
    border: 0;
    width: 38px;
    height: 38px;
    margin: 0;
    background-color: var(--backColor);
    cursor: pointer;
}

.deflt-btn:hover {
    filter: brightness(90%);
}
